.containerRehab {
  background-color: #9ffaf5;
  height: 75vh;
  padding: 20px;
  box-sizing: border-box; /* Враховує padding у висоті */
  overflow: hidden; /* Забезпечує, що вміст не виходить за межі контейнера */
}

.containerRehab h3 {
  align-items: center;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  position: relative; /* Додаємо позиціонування */
  padding-bottom: 10px; /* Відступ від тексту до лінії */
}

.containerRehab h3::after {
  content: '';
  display: block;
  width: 90%; /* Довжина лінії (50% ширини заголовка) */
  height: 2px; /* Висота лінії */
  background-color: #0a07eb; /* Колір лінії (чорний) */
  margin: 0 auto; /* Центрування лінії */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.rehab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px; /* Відстань між текстом і зображенням */
  padding: 100%x; /* Внутрішні відступи */
}
.imgRehab {
  flex: 1; /* Контейнер для зображення займає 50% ширини */
  max-width: 45%; /* Максимальна ширина контейнера */
  display: flex; /* Додаємо flexbox для управління зображенням */
  align-items: center; /* Вирівнюємо зображення по вертикалі */
  justify-content: center; /* Вирівнюємо зображення по горизонталі */
  max-height: 100%; /* Забезпечує, що контейнер не виходить за межі */
  overflow: hidden; /* Приховує вихідні за межі елементи */
}

.imgRehab img {
  width: auto; /* Ширина зображення автоматично масштабується */
  height: 100%; /* Висота зображення відповідає висоті контейнера */
  object-fit: contain; /* Зображення зберігає свої пропорції */
}

.textRehab {
  flex: 1; /* Займає 50% ширини контейнера */
  font-size: 23px; /* Розмір тексту */
  line-height: 1.6; /* Висота рядка для зручного читання */
  max-width: 55%; /* Максимальна ширина текстового блоку */
  padding-right: 25px;
  box-sizing: border-box; /* Враховує padding у ширині */
  max-height: 90%; /* Обмеження висоти для лівого блоку */
  /* overflow-y: auto; Додає скроллбар при перевищенні висоти */
}
